In [1]:
import pandas as pd
import numpy as np

In [6]:
ds = pd.read_excel('Test1.xlsx')

ds.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,MaxWin,MaxLoss,AvgWin,AvgLoss,PlayerA,PlayerB,RankA,RankB,RankDiff,WinnerBinary
0,51,Shanghai,Shanghai Masters,"Sunday, October 12, 2025",Masters 1000,Outdoor,Hard,The Final,3.0,Vacherot V.,...,2.30,1.69,2.290,1.655,Rinderknech A.,Vacherot V.,54,204,-150.0,0
1,51,Shanghai,Shanghai Masters,"Saturday, October 11, 2025",Masters 1000,Outdoor,Hard,Semifinals,3.0,Rinderknech A.,...,3.26,1.38,3.230,1.370,Medvedev D.,Rinderknech A.,18,54,-36.0,0
2,51,Shanghai,Shanghai Masters,"Saturday, October 11, 2025",Masters 1000,Outdoor,Hard,Semifinals,3.0,Vacherot V.,...,6.68,1.14,6.590,1.125,Djokovic N.,Vacherot V.,5,204,-199.0,0
3,51,Shanghai,Shanghai Masters,"Friday, October 10, 2025",Masters 1000,Outdoor,Hard,Quarterfinals,3.0,Rinderknech A.,...,3.60,1.34,3.550,1.320,Auger-Aliassime F.,Rinderknech A.,13,54,-41.0,0
4,51,Shanghai,Shanghai Masters,"Friday, October 10, 2025",Masters 1000,Outdoor,Hard,Quarterfinals,3.0,Medvedev D.,...,2.63,1.56,2.615,1.530,De Minaur A.,Medvedev D.,7,18,-11.0,0

In [8]:
df_wimbeldon = ds[ds['Tournament'] == 'Wimbledon']
df_wimbeldon.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,MaxWin,MaxLoss,AvgWin,AvgLoss,PlayerA,PlayerB,RankA,RankB,RankDiff,WinnerBinary
757,36,London,Wimbledon,"Sunday, July 13, 2025",Grand Slam,Outdoor,Grass,The Final,5.0,Sinner J.,...,1.85,2.07,1.840,2.035,Alcaraz C.,Sinner J.,2,1,1.0,0
758,36,London,Wimbledon,"Friday, July 11, 2025",Grand Slam,Outdoor,Grass,Semifinals,5.0,Alcaraz C.,...,1.20,5.13,1.185,4.940,Alcaraz C.,Fritz T.,2,5,-3.0,1
759,36,London,Wimbledon,"Friday, July 11, 2025",Grand Slam,Outdoor,Grass,Semifinals,5.0,Sinner J.,...,1.47,2.93,1.435,2.865,Djokovic N.,Sinner J.,6,1,5.0,0
760,36,London,Wimbledon,"Wednesday, July 9, 2025",Grand Slam,Outdoor,Grass,Quarterfinals,5.0,Sinner J.,...,1.32,3.60,1.285,3.600,Shelton B.,Sinner J.,10,1,9.0,0
761,36,London,Wimbledon,"Wednesday, July 9, 2025",Grand Slam,Outdoor,Grass,Quarterfinals,5.0,Djokovic N.,...,1.11,8.33,1.105,7.665,Cobolli F.,Djokovic N.,24,6,18.0,0

In [19]:
df_wimbeldon_filter = df_wimbeldon[['PlayerA', 'PlayerB', 'RankA', 'RankB', 'RankDiff', 'WinnerBinary']]
df_wimbeldon_filter.head()

         PlayerA      PlayerB RankA RankB  RankDiff  WinnerBinary
757   Alcaraz C.    Sinner J.     2     1       1.0             0
758   Alcaraz C.     Fritz T.     2     5      -3.0             1
759  Djokovic N.    Sinner J.     6     1       5.0             0
760   Shelton B.    Sinner J.    10     1       9.0             0
761   Cobolli F.  Djokovic N.    24     6      18.0             0

In [20]:
df_wimbeldon['Date'] = pd.to_datetime(df_wimbeldon['Date'], format='%A, %B %d, %Y', errors='coerce')

data_tall = pd.to_datetime('Monday, June 30, 2025', format='%A, %B %d, %Y')
df_wimbeldon_to_model = df_wimbeldon[df_wimbeldon['Date'] < data_tall]

df_wimbeldon_to_model = df_wimbeldon_to_model[['PlayerA', 'PlayerB', 'RankA', 'RankB', 'RankDiff', 'WinnerBinary']]

df_wimbeldon_to_model.head()

C:\Users\ikerr\AppData\Local\Temp\ipykernel_45868\1314961264.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_wimbeldon['Date'] = pd.to_datetime(df_wimbeldon['Date'], format='%A, %B %d, %Y', errors='coerce')

           PlayerA      PlayerB RankA RankB  RankDiff  WinnerBinary
3379    Alcaraz C.  Djokovic N.     3     2       1.0             1
3380   Djokovic N.   Musetti L.     2    25     -23.0             1
3381    Alcaraz C.  Medvedev D.     3     5      -2.0             1
3382      Fritz T.   Musetti L.    12    25     -13.0             0
3383  De Minaur A.  Djokovic N.     9     2       7.0             0

In [21]:
df_wimbeldon_filter.to_csv('wimbeldon_actual.csv', index=False)
df_wimbeldon_to_model.to_csv('wimbeldon.csv', index=False)

Preparem també un .csv per totes les dades.

In [ ]:
ds['Date'] = pd.to_datetime(ds['Date'], format='%A, %B %d, %Y', errors='coerce')
df_filter = ds[ds['Date'] < data_tall]
df_filter = df_filter[['PlayerA', 'PlayerB', 'RankA', 'RankB', 'RankDiff', 'Court', 'Surface', 'WinnerBinary']]

df_filter.to_csv('all_data.csv', index=False)

In [30]:
df_filter.head()

,PlayerA,PlayerB,RankA,RankB,RankDiff,Court,Surface,WinnerBinary
884,Brooksby J.,Fritz T.,149,5,144.0,Outdoor,Grass,0
885,Griekspoor T.,Moutet C.,34,83,-49.0,Outdoor,Grass,1
886,Michelsen A.,Moutet C.,33,83,-50.0,Outdoor,Grass,0
887,Davidovich Fokina A.,Fritz T.,28,5,23.0,Outdoor,Grass,0
888,Auger-Aliassime F.,Griekspoor T.,27,34,-7.0,Outdoor,Grass,0

Preparació de les dades amb Bets

In [41]:
df_bets = pd.read_excel('all_data_with_odds.xlsx')
df_bets.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,PlayerA,PlayerB,RankA,RankB,RankDiff,WinnerBinary,MaxOddsPlayerA,MaxOddsPlayerB,AvgOddsPlayerA,AvgOddsPlayerB
0,51,Shanghai,Shanghai Masters,"Sunday, October 12, 2025",Masters 1000,Outdoor,Hard,The Final,3.0,Vacherot V.,...,Rinderknech A.,Vacherot V.,54,204,-150.0,0,1.68,2.38,1.62,2.26
1,51,Shanghai,Shanghai Masters,"Saturday, October 11, 2025",Masters 1000,Outdoor,Hard,Semifinals,3.0,Rinderknech A.,...,Medvedev D.,Rinderknech A.,18,54,-36.0,0,1.40,3.25,1.36,3.09
2,51,Shanghai,Shanghai Masters,"Saturday, October 11, 2025",Masters 1000,Outdoor,Hard,Semifinals,3.0,Vacherot V.,...,Djokovic N.,Vacherot V.,5,204,-199.0,0,1.15,6.50,1.13,5.77
3,51,Shanghai,Shanghai Masters,"Friday, October 10, 2025",Masters 1000,Outdoor,Hard,Quarterfinals,3.0,Rinderknech A.,...,Auger-Aliassime F.,Rinderknech A.,13,54,-41.0,0,1.33,3.75,1.31,3.50
4,51,Shanghai,Shanghai Masters,"Friday, October 10, 2025",Masters 1000,Outdoor,Hard,Quarterfinals,3.0,Medvedev D.,...,De Minaur A.,Medvedev D.,7,18,-11.0,0,1.57,2.65,1.52,2.55

In [42]:
df_bets['Date'] = pd.to_datetime(df_bets['Date'], format='%A, %B %d, %Y', errors='coerce')
df_bets = df_bets[df_bets['Date'] < data_tall]

df_bets = df_bets[df_bets['Tournament'] == 'Wimbledon']
df_bets = df_bets[['PlayerA', 'PlayerB', 'RankA', 'RankB', 'WinnerBinary', 'MaxOddsPlayerA', 'MaxOddsPlayerB', 'AvgOddsPlayerA', 'AvgOddsPlayerB']]

df_bets.head()

,PlayerA,PlayerB,RankA,RankB,WinnerBinary,MaxOddsPlayerA,MaxOddsPlayerB,AvgOddsPlayerA,AvgOddsPlayerB
3379,Alcaraz C.,Djokovic N.,3,2,1,1.82,2.20,1.76,2.09
3380,Djokovic N.,Musetti L.,2,25,1,1.15,6.75,1.12,6.30
3381,Alcaraz C.,Medvedev D.,3,5,1,1.31,3.90,1.29,3.62
3382,Fritz T.,Musetti L.,12,25,0,1.25,4.70,1.22,4.36
3383,De Minaur A.,Djokovic N.,9,2,0,4.00,1.34,3.76,1.28

In [43]:
df_bets.to_csv('wimbeldon_bets.csv', index=False)

Ara afegirem una nova columna que es digui H2H, que serà cuants cops A ha guanyat a B, a la inversa i la diferencia.

In [47]:
df_final = pd.read_excel('all_data_with_odds.xlsx')

#Filtem fins abans del torneig
df_final['Date'] = pd.to_datetime(df_final['Date'], format='%A, %B %d, %Y', errors='coerce')
df_final = df_final[df_final['Date'] < data_tall]

df_final.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,PlayerA,PlayerB,RankA,RankB,RankDiff,WinnerBinary,MaxOddsPlayerA,MaxOddsPlayerB,AvgOddsPlayerA,AvgOddsPlayerB
884,34,Eastbourne,Eastbourne International,2025-06-28,ATP250,Outdoor,Grass,The Final,3.0,Fritz T.,...,Brooksby J.,Fritz T.,149,5,144.0,0,4.10,1.31,3.64,1.28
885,35,Mallorca,Mallorca Championships,2025-06-28,ATP250,Outdoor,Grass,The Final,3.0,Griekspoor T.,...,Griekspoor T.,Moutet C.,34,83,-49.0,1,1.65,2.50,1.56,2.39
886,35,Mallorca,Mallorca Championships,2025-06-27,ATP250,Outdoor,Grass,Semifinals,3.0,Moutet C.,...,Michelsen A.,Moutet C.,33,83,-50.0,0,1.66,2.52,1.56,2.39
887,34,Eastbourne,Eastbourne International,2025-06-27,ATP250,Outdoor,Grass,Semifinals,3.0,Fritz T.,...,Davidovich Fokina A.,Fritz T.,28,5,23.0,0,3.50,1.39,3.27,1.34
888,35,Mallorca,Mallorca Championships,2025-06-27,ATP250,Outdoor,Grass,Semifinals,3.0,Griekspoor T.,...,Auger-Aliassime F.,Griekspoor T.,27,34,-7.0,0,1.74,2.32,1.67,2.18

In [ ]:
import pandas as pd

# 1. Copia
df = df_final.copy()

# 2. WinnerBinary a int
df['WinnerBinary'] = df['WinnerBinary'].astype(int)

# 3. Crear parell ordenat (A < B alfabeticamente)
df['Pair'] = df.apply(
    lambda row: tuple(sorted([row['PlayerA'], row['PlayerB']])), 
    axis=1
)

# 4. Guayador real
df['Ganador'] = df.apply(
    lambda row: row['PlayerA'] if row['WinnerBinary'] == 1 else row['PlayerB'],
    axis=1
)

# 5. Contar H2H
h2h = df.groupby(['Pair', 'Ganador']).size().unstack(fill_value=0)

# --- CLAVE: Asegurar totes las columnas ---
all_players = pd.Index(df['PlayerA'].unique()).union(df['PlayerB'].unique())
h2h = h2h.reindex(columns=all_players, fill_value=0)

# 6. Funció CORREGIDA: fer servir .at[] (escalar)
def get_h2h(row):
    pair = row['Pair']
    a = row['PlayerA']
    b = row['PlayerB']
    
    if pair in h2h.index:
        a_wins = h2h.at[pair, a]   # ← ESCALAR
        b_wins = h2h.at[pair, b]   # ← ESCALAR
    else:
        a_wins = b_wins = 0
    
    return pd.Series([a_wins, b_wins, a_wins - b_wins])

# 7. Aplicar
df[['H2H_A_wins', 'H2H_B_wins', 'H2H_Diff']] = df.apply(get_h2h, axis=1)

# 8. Netejar
df.drop(['Pair', 'Ganador'], axis=1, inplace=True)

# 9. Veure resultats
df[['PlayerA', 'PlayerB', 'Winner', 'H2H_A_wins', 'H2H_B_wins', 'H2H_Diff']].head(10)

,PlayerA,PlayerB,Winner,H2H_A_wins,H2H_B_wins,H2H_Diff
884,Brooksby J.,Fritz T.,Fritz T.,1,2,-1
885,Griekspoor T.,Moutet C.,Griekspoor T.,1,0,1
886,Michelsen A.,Moutet C.,Moutet C.,0,1,-1
887,Davidovich Fokina A.,Fritz T.,Fritz T.,3,2,1
888,Auger-Aliassime F.,Griekspoor T.,Griekspoor T.,1,1,0
889,Brooksby J.,Humbert U.,Brooksby J.,1,1,0
890,Bautista Agut R.,Michelsen A.,Michelsen A.,0,1,-1
891,Fritz T.,Giron M.,Fritz T.,5,2,3
892,Davidovich Fokina A.,Mensik J.,Davidovich Fokina A.,3,1,2
893,Moutet C.,Tien L.,Moutet C.,1,1,0

In [55]:
df_h2h = df.copy()

df_h2h = df_h2h[df_h2h['Tournament'] == 'Wimbledon']

df_h2h = df_h2h[['PlayerA', 'PlayerB', 'RankA', 'RankB', 'WinnerBinary', 'MaxOddsPlayerA', 'MaxOddsPlayerB', 'AvgOddsPlayerA', 'AvgOddsPlayerB', 'H2H_A_wins', 'H2H_B_wins', 'H2H_Diff']]
df_h2h.head()

,PlayerA,PlayerB,RankA,RankB,WinnerBinary,MaxOddsPlayerA,MaxOddsPlayerB,AvgOddsPlayerA,AvgOddsPlayerB,H2H_A_wins,H2H_B_wins,H2H_Diff
3379,Alcaraz C.,Djokovic N.,3,2,1,1.82,2.20,1.76,2.09,3,4,-1
3380,Djokovic N.,Musetti L.,2,25,1,1.15,6.75,1.12,6.30,7,1,6
3381,Alcaraz C.,Medvedev D.,3,5,1,1.31,3.90,1.29,3.62,6,2,4
3382,Fritz T.,Musetti L.,12,25,0,1.25,4.70,1.22,4.36,1,2,-1
3383,De Minaur A.,Djokovic N.,9,2,0,4.00,1.34,3.76,1.28,0,3,-3

In [56]:
df_h2h.to_csv('wimbeldon_bets_h2h.csv', index=False)